[submodule "openfoodfacts-lang-parser"]
	path = openfoodfacts-lang-parser
	url = https://github.com/hangy/openfoodfacts-lang-parser.git

[submodule "automatic-graph-layout"]
	path = automatic-graph-layout
	url = https://github.com/Microsoft/automatic-graph-layout.git
